@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  color: #ffffff;
}

.transparent {
  background: rgba(0,0,0,0.4);
  font-size: 20px;

}

.bgd-image {
  background: url(https://pp.userapi.com/c638520/v638520960/b985/GYDEb2yBACo.jpg) fixed;
  background-size: cover;
  max-width:100%;
  max-height:100%;
  width: 100vw;
  height: 150vh;
  background-position: center;
}

.first-line {
  height: 100vh;
  font-size: 20px;
  font-weight: 1000;
  color: white;
}

.second-line {
  background-color: white;
  height: 100vh;
  text-align: center;
  padding: 80px;
  color: black;
  font-size: 35px;
  & h3 {
    font-size: 50px;
  }
}

.third-line {
  background: url(https://pp.userapi.com/c850616/v850616705/31672/ADiw4N2K5Vc.jpg) fixed;
  background-size: cover;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
  width: 100vw;
  font-size: 35px;
  height: 100vh;
  text-align: center;
  padding: 80px;
  color: white;
  & h3 {
    font-size: 90px;
  }
}

.forth-line {
  background-color: white;
  height: 100vh;
  text-align: center;
  padding: 80px;
  color: pink;
  font-size: 30px;
  & h3 {
    font-size: 50px;
  }
}

.fifth-line {
  background-color: black;
  height: 300vh;
  text-align: center;
  padding: 80px;
  color: white;
  font-size: 30px;
  & h3 {
    font-size: 50px;
  }
}















.text {
  padding: 200px 20px 20px 20px;
}

.title {
  font-size: 80px;
  text-align: center;
}



